In [1]:
import pandas as pd 
import re
df = pd.read_csv("./data/RGeo_Hotel_Reviews.csv", index_col=0)

In [2]:
#review negative and postitive reviews in separate dataframe
df_negative_review = df.Negative_Review
df_positive_review = df.Positive_Review

In [3]:
df_negative_review

0          I am so angry that i made this post available...
1                                               No Negative
2          Rooms are nice but for elderly a bit difficul...
3          My room was dirty and I was afraid to walk ba...
4          You When I booked with your company on line y...
                                ...
512465     no trolly or staff to help you take the lugga...
512466             The hotel looks like 3 but surely not 4
512467     The ac was useless It was a hot week in vienn...
512468                                          No Negative
512469         I was in 3rd floor It didn t work Free Wife
Name: Negative_Review, Length: 512470, dtype: object

In [4]:
#change all negative reviews into lowercase and only words are kept
neg_review_lower = [[word.lower() for word in neg_review.split()] for neg_review in df_negative_review]
neg_review_alpha = [[word for word in sentence if re.search('^[a-z]+$', word)] for sentence in neg_review_lower]

In [5]:
#change all positive reviews into lowercase and only words are kept
pos_review_lower = [[word.lower() for word in pos_review.split()] for pos_review in df_positive_review]
pos_review_alpha = [[word for word in sentence if re.search('^[a-z]+$', word)] for sentence in pos_review_lower]

In [6]:
#merging updated words back to a sentence
df['cleaned_pos_reviews'] = [' '.join(sentence) for sentence in pos_review_alpha]
df['cleaned_neg_reviews'] = [' '.join(sentence) for sentence in neg_review_alpha]

In [7]:
df

,Additional_Number_of_Scoring,Average_Score,Hotel_Address,Hotel_Name,Negative_Review,Positive_Review,Review_Date,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Reviewer_Nationality,...,Tags,Total_Number_of_Reviews,Total_Number_of_Reviews_Reviewer_Has_Given,city,country,days_since_review,lat,lng,cleaned_pos_reviews,cleaned_neg_reviews
0,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,8/3/2017,397,11,Russia,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,only the park outside of the hotel was beautiful,i am so angry that i made this post available ...
1,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,No Negative,No real complaints the hotel was great great ...,8/3/2017,0,105,Ireland,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,no real complaints the hotel was great great l...,no negative
2,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7/31/2017,42,21,Australia,...,"[' Leisure trip ', ' Family with young childre...",1403,9,Amsterdam,Netherlands,3 days,52.360576,4.915968,location was good and staff were ok it is cute...,rooms are nice but for elderly a bit difficult...
3,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,7/31/2017,210,26,United Kingdom,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",1403,1,Amsterdam,Netherlands,3 days,52.360576,4.915968,great location in nice surroundings the bar an...,my room was dirty and i was afraid to walk bar...
4,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,7/24/2017,140,8,New Zealand,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",1403,3,Amsterdam,Netherlands,10 days,52.360576,4.915968,amazing location and building romantic setting,you when i booked with your company on line yo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,8/30/2015,14,2,Kuwait,...,"[' Leisure trip ', ' Family with older childre...",2823,8,Vienna,Austria,704 day,48.203745,16.335677,location,no trolly or staff to help you take the luggag...
512466,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,8/22/2015,11,11,Estonia,...,"[' Leisure trip ', ' Family with young childre...",2823,12,Vienna,Austria,712 day,48.203745,16.335677,breakfast was ok and we got earlier check in,the hotel looks like but surely not
512467,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,No Positive,8/19/2015,19,0,Egypt,...,"[' Leisure trip ', ' Family with older childre...",2823,3,Vienna,Austria,715 day,48.203745,16.335677,no positive,the ac was useless it was a hot week in vienna...
512468,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,No Negative,The rooms are enormous and really comfortable...,8/17/2015,0,25,Mexico,...,"[' Leisure trip ', ' Group ', ' Standard Tripl...",2823,3,Vienna,Austria,717 day,48.203745,16.335677,the rooms are enormous and really comfortable ...,no negative
512469,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8/9/2015,13,6,Hungary,...,"[' Leisure trip ', ' Family with young childre...",2823,1,Vienna,Austria,725 day,48.203745,16.335677,staff was very kind,i was in floor it didn t work free wife

In [8]:
df[df=='none'].count()

/Users/jaslynwong/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Additional_Number_of_Scoring                     0
Average_Score                                    0
Hotel_Address                                    0
Hotel_Name                                       0
Negative_Review                                  0
Positive_Review                                  0
Review_Date                                      0
Review_Total_Negative_Word_Counts                0
Review_Total_Positive_Word_Counts                0
Reviewer_Nationality                             0
Reviewer_Score                                   0
Tags                                             0
Total_Number_of_Reviews                          0
Total_Number_of_Reviews_Reviewer_Has_Given       0
city                                             0
country                                          0
days_since_review                                0
lat                                              0
lng                                              0
cleaned_pos_reviews                             39
cleaned_neg_reviews                           1491
dtype: int64

In [9]:
df[df=='no issues'].count()

Additional_Number_of_Scoring                   0
Average_Score                                  0
Hotel_Address                                  0
Hotel_Name                                     0
Negative_Review                                0
Positive_Review                                0
Review_Date                                    0
Review_Total_Negative_Word_Counts              0
Review_Total_Positive_Word_Counts              0
Reviewer_Nationality                           0
Reviewer_Score                                 0
Tags                                           0
Total_Number_of_Reviews                        0
Total_Number_of_Reviews_Reviewer_Has_Given     0
city                                           0
country                                        0
days_since_review                              0
lat                                            0
lng                                            0
cleaned_pos_reviews                            1
cleaned_neg_reviews                           64
dtype: int64

# Checking reviews that are not needed (e.g. no negative, no positive etc)

In [10]:
df[df=='no complaints'].count()

Additional_Number_of_Scoring                    0
Average_Score                                   0
Hotel_Address                                   0
Hotel_Name                                      0
Negative_Review                                 0
Positive_Review                                 0
Review_Date                                     0
Review_Total_Negative_Word_Counts               0
Review_Total_Positive_Word_Counts               0
Reviewer_Nationality                            0
Reviewer_Score                                  0
Tags                                            0
Total_Number_of_Reviews                         0
Total_Number_of_Reviews_Reviewer_Has_Given      0
city                                            0
country                                         0
days_since_review                               0
lat                                             0
lng                                             0
cleaned_pos_reviews                             8
cleaned_neg_reviews                           522
dtype: int64

In [11]:
df[df=='nothing'].count()

Additional_Number_of_Scoring                      0
Average_Score                                     0
Hotel_Address                                     0
Hotel_Name                                        0
Negative_Review                                   0
Positive_Review                                   0
Review_Date                                       0
Review_Total_Negative_Word_Counts                 0
Review_Total_Positive_Word_Counts                 0
Reviewer_Nationality                              0
Reviewer_Score                                    0
Tags                                              0
Total_Number_of_Reviews                           0
Total_Number_of_Reviews_Reviewer_Has_Given        0
city                                              0
country                                           0
days_since_review                                 0
lat                                               0
lng                                               0
cleaned_pos_reviews                            1719
cleaned_neg_reviews                           21083
dtype: int64

In [12]:
df[df=='no negative'].count()

Additional_Number_of_Scoring                       0
Average_Score                                      0
Hotel_Address                                      0
Hotel_Name                                         0
Negative_Review                                    0
Positive_Review                                    0
Review_Date                                        0
Review_Total_Negative_Word_Counts                  0
Review_Total_Positive_Word_Counts                  0
Reviewer_Nationality                               0
Reviewer_Score                                     0
Tags                                               0
Total_Number_of_Reviews                            0
Total_Number_of_Reviews_Reviewer_Has_Given         0
city                                               0
country                                            0
days_since_review                                  0
lat                                                0
lng                                                0
cleaned_pos_reviews                                0
cleaned_neg_reviews                           127035
dtype: int64

In [13]:
df[df=='no positive'].count()

Additional_Number_of_Scoring                      0
Average_Score                                     0
Hotel_Address                                     0
Hotel_Name                                        0
Negative_Review                                   0
Positive_Review                                   0
Review_Date                                       0
Review_Total_Negative_Word_Counts                 0
Review_Total_Positive_Word_Counts                 0
Reviewer_Nationality                              0
Reviewer_Score                                    0
Tags                                              0
Total_Number_of_Reviews                           0
Total_Number_of_Reviews_Reviewer_Has_Given        0
city                                              0
country                                           0
days_since_review                                 0
lat                                               0
lng                                               0
cleaned_pos_reviews                           35737
cleaned_neg_reviews                               0
dtype: int64

In [14]:
df[df=='na'].count()

Additional_Number_of_Scoring                    0
Average_Score                                   0
Hotel_Address                                   0
Hotel_Name                                      0
Negative_Review                                 0
Positive_Review                                 0
Review_Date                                     0
Review_Total_Negative_Word_Counts               0
Review_Total_Positive_Word_Counts               0
Reviewer_Nationality                            0
Reviewer_Score                                  0
Tags                                            0
Total_Number_of_Reviews                         0
Total_Number_of_Reviews_Reviewer_Has_Given      0
city                                            0
country                                         0
days_since_review                               0
lat                                             0
lng                                             0
cleaned_pos_reviews                            19
cleaned_neg_reviews                           272
dtype: int64

In [16]:
df[df=='n a'].count()

Additional_Number_of_Scoring                     0
Average_Score                                    0
Hotel_Address                                    0
Hotel_Name                                       0
Negative_Review                                  0
Positive_Review                                  0
Review_Date                                      0
Review_Total_Negative_Word_Counts                0
Review_Total_Positive_Word_Counts                0
Reviewer_Nationality                             0
Reviewer_Score                                   0
Tags                                             0
Total_Number_of_Reviews                          0
Total_Number_of_Reviews_Reviewer_Has_Given       0
city                                             0
country                                          0
days_since_review                                0
lat                                              0
lng                                              0
cleaned_pos_reviews                             55
cleaned_neg_reviews                           1804
dtype: int64

In [17]:
df[df==''].count()

Additional_Number_of_Scoring                    0
Average_Score                                   0
Hotel_Address                                   0
Hotel_Name                                      0
Negative_Review                                 0
Positive_Review                                 0
Review_Date                                     0
Review_Total_Negative_Word_Counts               0
Review_Total_Positive_Word_Counts               0
Reviewer_Nationality                            0
Reviewer_Score                                  0
Tags                                            0
Total_Number_of_Reviews                         0
Total_Number_of_Reviews_Reviewer_Has_Given      0
city                                            0
country                                         0
days_since_review                               0
lat                                             0
lng                                             0
cleaned_pos_reviews                           200
cleaned_neg_reviews                           844
dtype: int64

In [18]:
df.count()

Additional_Number_of_Scoring                  512470
Average_Score                                 512470
Hotel_Address                                 512470
Hotel_Name                                    512470
Negative_Review                               512470
Positive_Review                               512470
Review_Date                                   512470
Review_Total_Negative_Word_Counts             512470
Review_Total_Positive_Word_Counts             512470
Reviewer_Nationality                          512470
Reviewer_Score                                512470
Tags                                          512470
Total_Number_of_Reviews                       512470
Total_Number_of_Reviews_Reviewer_Has_Given    512470
city                                          512470
country                                       512470
days_since_review                             512470
lat                                           512470
lng                                           512470
cleaned_pos_reviews                           512470
cleaned_neg_reviews                           512470
dtype: int64

# Replace unwanted comments into '0'

In [15]:
# replace all the ['no negative', 'no positive','n a','na','no issue','no complaints','none','nothing'] with NaN
cleaned_df=df.replace(to_replace=['no negative', 'no positive',
                                  'n a','na','no issue','no complaints',
                                  'none','nothing',''], value=0)

In [16]:
cleaned_df

,Additional_Number_of_Scoring,Average_Score,Hotel_Address,Hotel_Name,Negative_Review,Positive_Review,Review_Date,Review_Total_Negative_Word_Counts,Review_Total_Positive_Word_Counts,Reviewer_Nationality,...,Tags,Total_Number_of_Reviews,Total_Number_of_Reviews_Reviewer_Has_Given,city,country,days_since_review,lat,lng,cleaned_pos_reviews,cleaned_neg_reviews
0,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,8/3/2017,397,11,Russia,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,only the park outside of the hotel was beautiful,i am so angry that i made this post available ...
1,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,No Negative,No real complaints the hotel was great great ...,8/3/2017,0,105,Ireland,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",1403,7,Amsterdam,Netherlands,0 days,52.360576,4.915968,no real complaints the hotel was great great l...,0
2,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7/31/2017,42,21,Australia,...,"[' Leisure trip ', ' Family with young childre...",1403,9,Amsterdam,Netherlands,3 days,52.360576,4.915968,location was good and staff were ok it is cute...,rooms are nice but for elderly a bit difficult...
3,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,7/31/2017,210,26,United Kingdom,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",1403,1,Amsterdam,Netherlands,3 days,52.360576,4.915968,great location in nice surroundings the bar an...,my room was dirty and i was afraid to walk bar...
4,194,7.7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,7/24/2017,140,8,New Zealand,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",1403,3,Amsterdam,Netherlands,10 days,52.360576,4.915968,amazing location and building romantic setting,you when i booked with your company on line yo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512465,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,8/30/2015,14,2,Kuwait,...,"[' Leisure trip ', ' Family with older childre...",2823,8,Vienna,Austria,704 day,48.203745,16.335677,location,no trolly or staff to help you take the luggag...
512466,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,8/22/2015,11,11,Estonia,...,"[' Leisure trip ', ' Family with young childre...",2823,12,Vienna,Austria,712 day,48.203745,16.335677,breakfast was ok and we got earlier check in,the hotel looks like but surely not
512467,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,No Positive,8/19/2015,19,0,Egypt,...,"[' Leisure trip ', ' Family with older childre...",2823,3,Vienna,Austria,715 day,48.203745,16.335677,0,the ac was useless it was a hot week in vienna...
512468,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,No Negative,The rooms are enormous and really comfortable...,8/17/2015,0,25,Mexico,...,"[' Leisure trip ', ' Group ', ' Standard Tripl...",2823,3,Vienna,Austria,717 day,48.203745,16.335677,the rooms are enormous and really comfortable ...,0
512469,168,8.1,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8/9/2015,13,6,Hungary,...,"[' Leisure trip ', ' Family with young childre...",2823,1,Vienna,Austria,725 day,48.203745,16.335677,staff was very kind,i was in floor it didn t work free wife

# Pull only positive reviews and add Class (positive)

In [50]:
pos_comments= cleaned_df.cleaned_pos_reviews[cleaned_df.cleaned_pos_reviews!=0]
reviews=pd.DataFrame(pos_comments)
reviews['class']='positive'
reviews.columns = ['reviews','class']
reviews

                                                  reviews     class
0        only the park outside of the hotel was beautiful  positive
1       no real complaints the hotel was great great l...  positive
2       location was good and staff were ok it is cute...  positive
3       great location in nice surroundings the bar an...  positive
4          amazing location and building romantic setting  positive
...                                                   ...       ...
512464  helpful staff allowed me to check in early as ...  positive
512465                                           location  positive
512466       breakfast was ok and we got earlier check in  positive
512468  the rooms are enormous and really comfortable ...  positive
512469                                staff was very kind  positive

[474693 rows x 2 columns]

# Pull only negative reviews and add Class (negative)

In [52]:
neg_comments= cleaned_df.cleaned_neg_reviews[cleaned_df.cleaned_neg_reviews!=0]
neg_reviews= pd.DataFrame(neg_comments)
neg_reviews['class']= 'negative'
neg_reviews.columns = ['reviews','class']
neg_reviews

                                                  reviews     class
0       i am so angry that i made this post available ...  negative
2       rooms are nice but for elderly a bit difficult...  negative
3       my room was dirty and i was afraid to walk bar...  negative
4       you when i booked with your company on line yo...  negative
5       backyard of the hotel is total mess shouldn t ...  negative
...                                                   ...       ...
512463   no parking public parking garage is euro per day  negative
512465  no trolly or staff to help you take the luggag...  negative
512466                the hotel looks like but surely not  negative
512467  the ac was useless it was a hot week in vienna...  negative
512469            i was in floor it didn t work free wife  negative

[359418 rows x 2 columns]

# Merge both negative and positive and create output file

In [56]:
merge_pos_neg= pd.concat([neg_reviews, reviews])

In [57]:
merge_pos_neg.to_csv('./data/cleaned_hotelreviews.csv', index=False)